.container {
  position: relative;
}

.text {
  margin-left: 35px;
  margin-right: 35px;
}

.button-wrapper {
  width: 100%;
  text-align: center;
}

.button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-weight: bold;
  height: 700px;
  width: 35px;
  display: inline-block;
  background-color: #ff00bb;
}

.button-left {
  float: left;
  height: auto;
  width: 100px;
}

.button-right {
  float: right;
  height: auto;
  width: 100px;
}

#photo {
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 auto;
  max-width: 80%;
  max-height: 600px;
}
