<nav class="tabs">
  <ul>
    <li class="tabs__item">
      <a
        routerLink="/six-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >input</a
      >
    </li>
    <li class="tabs__item">
      <a
        routerLink="/first-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >apod</a
      >
    </li>
    <li class="tabs__item">
      <a
        routerLink="/second-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >asteroids</a
      >
    </li>
    <li class="tabs__item">
      <a
        routerLink="/third-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >earth</a
      >
    </li>
    <li class="tabs__item">
      <a
        routerLink="/fourth-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >mars</a
      >
    </li>
    <li class="tabs__item">
      <a
        routerLink="/fifth-component"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >epic</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
